<div class="col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">{{title}}</h4>
        </div>
        <div class="panel-body">
            <div class="vid">
                <iframe id="player" {{bind-attr src=player}} type="text/html" width="630" height="380" frameborder="0">
                </iframe>
            </div>
            </br>
            <span class="glyphicon glyphicon-time">{{format-date publishedAt}}</span>
            </br>
            <span class="glyphicon glyphicon-play-circle">{{viewCount}}</span>
            </br>
            <span class="glyphicon glyphicon-thumbs-up">{{likeCount}}</span>
            </br>
            <span class="glyphicon glyphicon-thumbs-down">{{dislikeCount}}</span>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="list-group">
        {{#each relatedVideos}} {{#link-to 'player' this.id class='list-group-item'}}
        <div class="row">
            <div class="col-md-5">
                <img {{bind-attr src=thumbnail alt=title}}>
            </div>
            <div class="col-md-7">
                <span>{{title}}</span>
            </div>
        </div>
        {{/link-to}} {{/each}}
    </div>
</div>