<div class="row-fluid">
    {{#if isHomeMode}} {{#each}}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail default">
            {{#link-to 'player' this.seopath}}
            <span class="play"></span>
            <img {{bind-attr src=thumbnail alt=title}}>{{/link-to}}
            <div class="caption">
                <h3>{{title}}</h3>
            </div>
        </div>

    </div>
    {{/each}} {{else}} {{outlet}}
    <div class="col-md-3">
        <div class="row-fluid">
            {{#each}}
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail default">
                    <span class="badge">new</span>
                    {{#link-to 'player' this.seopath}}
                    <span class="play"></span>
                    <img {{bind-attr src=thumbnail alt=title}}>{{/link-to}}
                    <div class="caption">
                        <h3>{{title}}</h3>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>